@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body {
   
   
    margin: 5px auto;
}
.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: black;
    font-family: 'Marcellus', serif;
    
    
}

#heading {
    font-size: 55px;
    color: #2b304d
}
#heading {
    font-size: 35px;
    color: black
}
.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: black;
    font-size: 12px
}

.fa {
    color: black
}

*:focus {
    outline: none
}
#description{
    font-size:large;
    color: black;
}
#container{
    width: 210px;
margin-top: 10px;
}
h6{
    font-size: 10px;
}
#containermain{
    width: 994px;
}
#wicon{
width: 95px;
}
img, svg {
    
    width: 25px;
}
.img1{
    width: 15px;

}
#wicon1,#wicon2,#wicon3,#wicon4,#wicon5{
    width: 30px;
}
#wicon{
    width: 150px;
}
#h1{
    text-align: center;
    font-size: 40px;
    
}
li{
    list-style:none;
}
#bt{
   
    width: 200px;
    margin-top: 5px;
    transform: translateY(0);
    background-color: #86a1f7;
  background-image: linear-gradient(45deg, #8be4ff 0%, #2b8eff 52%, #4b2bff 90%);
}
.favorable{
    background-color: green;
}
.moderate{
    background-color:yellow;
}
.severe{
    background-color: red;
}

.just {
   display: none;
  }
  .col-xl-3 {
    
    width: 20%;
  }
  @media only screen and (max-width: 1600px)  {
    
    * {
        box-sizing: none;
        padding: auto;
        margin: auto;
        width: auto;
    }
    .col-4 {
        flex: 0 0 auto;
        width: auto;
    }
    #containermain {
        width: auto;
    }
    .m-5 {
        margin: 1rem!important;
    }#h1 {
       
        font-size: 33px;
    }
    .list{
        margin: 0px auto;
        padding: 0px;
    }
    .container-fluid{
        padding: 0px;
    }
    .col-xl-3 {
    
        width: auto;
      }

}